.header {
  padding: $page-offset-top  $page-offset-left-right;
  height: 54px;
  font-size: 54px;
  .header-title {
    float: left;
  }
  .time-block {
    float: right;
  }
}

@import "time-block";