body {
  background: #a3a3a3;
  font-family: $primary-font;
}

.page {
  box-shadow: 0 0 20px #000;
  border-radius: 3px;

  width: 1280px;
  height: 720px;
  color: white;
  margin: auto;
  background-image: url($background-image);
  overflow: hidden;
}