.time-block {

  .time-block-date-wrap {
    color: $primary-color;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
  }
  .time-block-date {
    font-size: 26px;
  }
  .time-block-weekday {
    font-size: 24px;
  }
  .time-block-time {
    display: inline-block;
    line-height: 1;
    font-size: 54px;
    border-left: 4px solid #ffffff;
    padding-left: 20px;
    margin-left: 10px;
  }

}