<div class="poster">
    <div class="poster-image-wrap">
        <img class="poster-image" src="/images/posters/x2/{{poster.poster}}.png">
    </div>
    <div class="poster-info">
        <div class="poster-title">{{poster.name}}</div>
        <i ng-if="poster.ring" class="poster-ring"></i>
        <div class="poster-time">
            <span class="text-primary" am-time-ago="poster.time"></span>
        </div>
    </div>
</div>